* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color:#f2edfd ;
    font-family: 'Grand Hotel', cursive;
    background-color: #f2edfd;
    /* overflow: hidden; */
}


/* Navbar Section  */
.navbar {
    margin-top: 20px;
    /* padding: 0px 30px; */
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f2edfd;
}

.logo__img__container {
    width: 100px;
}

.navbar-light {
    background-color: #f2edfd;
}

.logo__img {
    width: 100%;
}

.navbar__container {
    background-color: #f2edfd;
    padding: 0;
}
.navbar-collapse {
    display: flex;
    justify-content: end;
    background-color: #f2edfd;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: #4f388d;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}

/* .collapse:hover>:not(:hover) {
    opacity: .4;
} */

.dropdown-menu {
    background-color:#E3DFFD;
    border-radius: 3px;
    border: none;
    border-radius: 5px;
}

.dropdown-item {
    color: #4f388d;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Section 1 Hero Section  */
.hero__section__container {
    position: relative;
    height: 85vh;
    
    background-color:#f2edfd ;
}
.hero__border__img__container {
    
    width: 100%;
    

}

.hero__border__img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.hero__heading {
    font-family: 'Grand Hotel', cursive;
    text-align: center;
    font-size: 50px;
    padding: 0;
    color: #333;
    margin: 0;
    
}

.hero__description {
    color: #333;
    opacity: .9;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    padding: 0px 40px;
}

.hero__baker__img__container {
    width: 250px;
}

.hero__baker__img {
    width: 100%;
    animation: heroanimate 1s 1;
}

.hero__element__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg__1 {
    animation: svganimate 1s 1;
}

.svg__2 {
    
    animation: svganimate 1s 1;
    animation-delay: 0.1s;
}

.svg__3 {
    
    animation: svganimate 1s 1;
    animation-delay: 0.3s;
}

@keyframes svganimate{
    0% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes heroanimate {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes heroanimate- {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}



.hero__button {
    color: #f2edfd;
    background-color: #816DA9;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.hero__button:hover {
    color: #816DA9;
    background-color: #E3DFFD;
}

.hero__text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: heroanimate- 1s 1;
}



/* Footer Section  */
.footer__container {
    padding: 30px;
    font-family: sans-serif;
    background-color: #816DA9;
}

.branch__list ,.contact__list ,.support__list{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}

.contact__list i{
    font-size: 16px;
    margin-right: 10px;
}

.branch__list:hover ,.contact__list:hover ,.support__list:hover {
    color: azure;
    cursor: pointer;
    border-bottom: 2px solid azure;
}

.footer__headers {
    list-style: none;
    font-size: 16px;
    font-weight: 700;
} 

ul {
    padding-left: 0;
}

.footer__support__list {
    padding: 0px 5px !important ;
}

.footer__copyright {
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


@media (min-width:768px) {

    .hero__section__container {
        height: 100vh; 
    }

    .hero__baker__img__container {
        width: 90%;
    }
    .hero__baker__img {
        width: 100%;
    }

    .hero__element__container {
        flex-direction: row-reverse;
    }

    .hero__description {
        font-size: 28px;
        padding: 10px;
    }
}




/* Media @1024px  */

@media (min-width:1024px) {



    .navbar {
        margin-left: 120px;

    }


    .hero__element__container {
        padding: 0px 100px;
    }

    .hero__heading {
        font-size: 70px;
    }

    /* Footer Section  */
    .footer__contact__container ,.footer__branch__container {
        display: flex;

        align-items: center;
        flex-direction: column;
        justify-content: start;
    }

    .footer__support__support__container {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    

    
}

@media (min-width:1200px) {

    .hero__heading {
        font-size: 75px;
    }

    .hero__element__container {
        padding: 0px 320px;
    }
}